<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075771428579-ghrns15r6s27ungad1ldjq461ibej0cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075771428579-ghrns15r6s27ungad1ldjq461ibej0cg</string>
	<key>API_KEY</key>
	<string>AIzaSyAnBGtevqbB3BkaMwD1wLsAj8v74xpVGX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1075771428579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emptysaverFe</string>
	<key>PROJECT_ID</key>
	<string>emptysaver-d27f2</string>
	<key>STORAGE_BUCKET</key>
	<string>emptysaver-d27f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075771428579:ios:b8a82acb3e4970ef78bfd6</string>
</dict>
</plist>